__pycache__/batch.cpython-39.pyc
__pycache__/cell.cpython-39.pyc
__pycache__/loader.cpython-39.pyc
__pycache__/plot_stims.cpython-39.pyc
__pycache__/plot.cpython-39.pyc
__pycache__/rec.cpython-39.pyc
__pycache__/sync.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
misc/__pycache__/merge_sync_mat.cpython-38.pyc
misc/__pycache__/merge_sync_mat.cpython-39.pyc
